.table-view {
    height: 25rem;
    width: 95rem;
    margin: 7rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-view__header {
    text-align: center;
    margin-bottom: 1rem; 
    font-size: 1.5rem;
}

.table-view__title {
    padding: 1rem;
}


.table-view__buttons {
    display: flex;
    justify-content: center;
    gap: 1rem; 
    margin: 2rem 0rem;
}

.table-view__button {
    background: linear-gradient(to bottom, #845ec2, #8d69c5); 
    color: white; 
    font-size: 1rem; 
    font-weight: bold; 
    padding: 0.75rem 1.5rem; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: color 0.3s ease-in-out; 
    
}


.table-view__button:hover {
   color: #f1d4f8;
}


  






