.registration-form {
    width: 100%;
    max-width: 30rem;
    margin: 8rem auto;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #ffffff;
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #6546B5;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #050505;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    color: black;
    box-sizing: border-box;
    border: 2px solid #8465D3;
  }
  
  .form-group input:focus {
    outline: none;
  }
  
  .form-button {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: bold;
    color: #7765A3;
    background: #FBEAFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .form-button:hover {
    background: #7765A3;
    color: #FFFFFF;
  }
  