.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header a:hover {
    color: #0C969C;
}
.nav-list__link {
    text-decoration: none;
    font-weight: 600; 
    transition: color 0.3s ease;
}
.logo-section {
    display: flex;
    align-items: center;
}
.paragraph__item {
    font-size: 1rem;
    font-weight: 600;
}
.image__item {
    width: 2rem;
    height: 2rem;
    margin: 0 0.7rem;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 1rem; 
}
.nav-list__link {
    position: relative;
    font-size: 1rem;
}
.action-section {
    display: flex;
    padding: 1rem;
    gap: 1rem; 
    transition: color 0.3s ease;
}
.action-section a:hover{
    color: #0C969C;
}
.nav-list a::after {
    content: "";
    display: block;
    position: absolute;
    background: #032F30;
    transition: opacity 0.4s ease;
    height: 2px;
    opacity: 0;
    left: 0;
    right: 0;
    bottom: -4px;
}
.nav-list a.active {
    color: #032F30;
    font-weight: bold;
    
}
.nav-list a.active::after {
    opacity: 1;
}